/*---- algemeene styling ----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --border-radius: 1.5rem;
}

/*---- head.liquid ----*/

/*---- index.liquid ----*/
header {
  ul {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    overflow-x: auto;
    figure {
      img {
        width: 4rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}

/* zoek balk */

h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: normal;
}
input[type="search"],
.controls select {
  width: 100%;
  border-radius: 12px;
  border: 1px solid grey;
  padding: 0 16px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
}

.filters {
  display: flex;
  gap: 10px;
  width: 100%;
}
.filters select {
  flex: 1;
}

.controls input {
  width: 100%;
}
select:hover,
select:focus {
  background: #dddddd;
}
/*-------------------------- student.liquid -----------------------------*/
/*---card-----*/

.Card {
  width: 80vw;
  margin: auto;
  background: white;
  padding: 24px;
  border-radius: var(--border-radius);
  display: grid;
  gap: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  outline: 0.19rem solid var(--fav-color);
}

.Card h1 {
  margin: 0;
  text-align: center;
}

.squad {
  margin: 0;
  text-align: center;
  color: #64748b;
}

.avatar {
  margin: 10px auto;
  border-radius: 50%;
  outline: 2px solid var(--fav-color);
}
/*---info blokken-----*/

.person-info-blok{
  width: 80vw;
  margin: auto;
  border: 0.19rem solid var(--fav-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-top: 1rem;
}

/*---berichten -----*/

textarea {
  height: 100px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.bericht {
  margin-top: 10px;
  display: grid;
  gap: 10px;
}

input {
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.bericht button {
  padding: 0 16px;
  border-radius: 10px;
  border: none;
  background: var(--fav-color);
  cursor: pointer;
  color: white;
  height: 30px;
}

/*---- foot.liquid ----*/
