/*---- algemeene styling ----*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none; 
}

a {
    text-decoration: none;
    color: inherit; 
}

:root{}

/*---- head.liquid ----*/ 

/*---- index.liquid ----*/ 
header{
    ul{
        display: flex;
        padding: 1rem;
        gap: 2rem;   
        overflow-x: auto; 
        figure{
            img{
                width: 4rem;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                overflow: hidden;
                object-fit: cover;
            }
        }
    }

}
/*---- student.liquid ----*/ 

/*---- foot.liquid ----*/ 